<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <title>Travel Blog :: Home</title>
    <link th:href="@{css/style.css}" rel="stylesheet">
</head>
<body>
<style>
    body {
    background-image: url('/images/background2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }

</style>
<header class="flex">
    <div class="container">
        <div class="header-title">
            <h1 class="first-title">Leave Your Footprints</h1>
            <h3>
                <i>The best things in life are the people we love, the places we've been and the memories we've made
                    along
                    the way.</i>
            </h3>
        </div>
    </div>
</header>
<!-- header -->
<div class="container">
    <h1><u>Travel<span>Blog</span></u></h1>
    <!--    <img width="400px" th:src="@{images/travel.jpg}" src="/images/travel.jpg">-->
    <hr/>
    <ul>
        <li>
            <a th:href="@{/posts/new}">Add New Post</a>
        </li>
    </ul>
    <div class="posts-container">
        <div class="post" th:each="post : ${posts}">
            <h2><a th:href="@{'/posts/' + ${post.id}}"
                   th:text="${post.title}">Title</a>
            </h2>
            <!--            <h5 th:text="'Published on '  + ${post.createdAt}">Created at</h5>-->
            <h3 th:text="${post.body}">body text</h3>
            <!--            <img id="img" th:src="${post.images}" height="200" width="200">-->
            <br/>
        </div>
    </div>
</div>
<!-- video section -->
<section id="video">
    <div class="video-wrapper flex">
        <iframe width="800" height="500" src="https://www.youtube.com/embed/wqIzNDSutSI" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
</section>
<br/>
<br/>
<!-- end of video section -->
<!-- footer -->
<footer class="py-4">
    <div class="container footer-row">
        <div class="footer-item">
            <a href="home.html" class="site-brand">
                <h1 ><u>Travel<span>Blog</span></u></h1>
            </a>
            <h3 class="text">The journey of a thousand miles begins with a single step.</h3>
        </div>

        <div class="footer-item">
            <h2>Popular places to visit:</h2>
            <h3>
                <ul>
                    <li><a href="#">Thailand</a></li>
                    <li><a href="#">Australia</a></li>
                    <li><a href="#">Maldives</a></li>
                    <li><a href="#">Philippines</a></li>
                </ul>
            </h3>
        </div>
    </div>
</footer>
<!-- end of footer -->
</body>
</html>